$link: blue;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: $link;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }
}

body {
  background: #000;
  color: #fff;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}
